numpy
scipy
scikit-learn
opencv-python-headless
opencv-contrib-python-headless
#opencv-python
#opencv-contrib-python
tensorflow==2.11.0
keras_applications
matplotlib
tqdm
pillow
mnn
keras2onnx
tf2onnx
onnx
onnxruntime
